registry=http://192.168.1.125:8881/repository/npm-group/
email=any@email.com
always-auth=true
//192.168.1.125:8881/repository/npm-group/:_auth="YWRtaW46MTIzNDU2Nzh4QFg="
//192.168.1.125:8881/repository/npm-hosted/:_auth="YWRtaW46MTIzNDU2Nzh4QFg="
